.hero {
    display: inline-block;
    position: relative;
    #helmet {
        position: absolute;
        z-index: 1;
    }
    #chest {
   
        z-index: 2;
        position: absolute;
    }
    #leggins {
        z-index: 1;
        position: absolute;
    }
    #weapon {
        z-index: 3;
        position: absolute;
    }
    #boots {
        z-index: 2;
        position: absolute;
    }
}

