body {
    .wrapper {
        @media screen and (max-width: 768px) {
            padding-top: 66px;
        }
        width: 90%;
        margin: auto;
    }
    #strength_field, #agility_field, #intelligence_field {
        font-size: 1.5rem;
    }
}
