
body {
    .body {
        width: 80%;
        margin: auto;
    }
    #strength_field, #agility_field, #intelligence_field {
        font-size: 1.5rem;
    }
    
    @media screen and (max-width: 768px) {
        #menu__toggle:checked~.menu__btn {
            z-index: 2;
        }
        #menu__toggle:checked~.menu__box {
            z-index: 1;
        }

    
    }
}
