.body {
    @media screen and (max-width: 768px) {
        nav {
            height: 64px;
            padding-left: 50px;
            padding-right: 3px;
        }

        .sm-balance {
            position: fixed;
            right: 16;
            bottom: 16;
            z-index: 100;
            background-color: aliceblue;
            border: 0.5px solid rgb(190, 190, 190);
            border-radius: 5;
        }
    }
}
