@import "../../node_modules/bootstrap/scss/bootstrap";

html{
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	align-items: center;
	background-color: #f5f5f5;

	img{

		@media screen and (max-height: 735px) {
			width: 150;
			height: 150;
		}

		@media screen and (min-height: 736px) {
			width: 200;
			height: 200;
		}
	
		@media screen and (min-height: 871px) {
			width: 300px;
			height: 300px;
		}
	}

	.form-signin {
		max-width: 330px;
		margin: 0 auto;
		padding: 15px;
		position: relative;

		.login .form-control {
			padding-right: 40px;
		}

		.form-floating {

			.password-control {
				position: absolute;
				top: 20px;
				right: 10px;

				svg {
					color: rgb(36, 36, 36);
				}
			}

			&:focus-within {
				z-index: 2;
			}
		}

		input[type="email"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		input[type="password"]:not(.password-2) {
			margin-bottom: -1px;
			border-radius: 0;
		}

		.password-2 {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

	.hidden {
		visibility: hidden;
	}

	.login {
		max-width: 300px;
		margin-bottom: 0px;
	}

	.register {
		max-width: 300px;
		top: 15px;
		left: 15px;
		position: absolute;

		input[type="text"] {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		input[type="email"] {
			margin-top: -1px;
			border-radius: 0;
		}

	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.password-check {
		color: $red-500;
		visibility: hidden;
	}

	footer{
		margin-top: 1rem;
	}
}