@import "../../node_modules/bootstrap/scss/bootstrap";

html {
	height: 100%;
}
body {
	height: 100%;
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}
.form-signin {
	max-width: 330px;
	margin: 0 auto;
	padding: 15px;
	position: relative;
	.form-floating {
		&:focus-within {
			z-index: 2;
		}
	}
	input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	input[type="password-1"] {
		margin-bottom: -1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	input[type="password-2"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
.hidden {
	visibility: hidden;
}
.login {
	max-width: 300px;
	margin-bottom: 0px;
}
.register {
	max-width: 300px;
	top: 15px;
	left: 15px;
	position: absolute;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.password-check {
    color: $red-500;
}
