body {
  font: max(13px, min(26px, 6vw)) Tahoma, sans-serif;
  margin: 0;
  width: 100%;
  background: linear-gradient(150deg, rgba(94, 0, 122, 0.6) 0%,
      rgba(2, 0, 129, .5) 30%,
      rgba(65, 0, 126, .5) 40%,
      rgb(66, 0, 110, .5) 50%,
      rgba(27, 0, 126, .5) 80%,
      rgba(72, 0, 105, .5) 100%);

  .menu {

    margin-bottom: 5vw;

    header {

      padding: 20px 0 20px;

      @media screen and (max-width: 768px) {
        font-size: 20px;

        .sun-moon {
          height: 30px;
          width: 30px;
        }

        .signin {
          margin-top: 15px;
        }
      }

      @media screen and (min-width: 768px) {
        .signin {
          margin-right: 5vw;
        }

        .sun-moon {
          height: 40px;
          width: 40px;
        }
      }

      .sun-moon {
        color: rgba(255, 255, 255, .5);
        margin-left: 1rem;
      }

      .nav-masthead .nav-link {
        border-bottom: .25rem solid transparent;
      }

      .nav-masthead .nav-link+.nav-link {
        margin-left: 1rem;
      }

      .nav-masthead .nav-link__dark {
        color: rgba(255, 255, 255, .5);
      }

      .nav-masthead .nav-link__dark:hover,
      .nav-masthead .nav-link__dark:focus {
        border-bottom-color: rgba(255, 255, 255, .25);
      }


      .nav-masthead .active__dark {
        color: #fff;
        border-bottom-color: #fff;
      }

      .nav-masthead .nav-link__light {
        color: rgba(0, 0, 0, .5);
      }

      .nav-masthead .nav-link__light:hover,
      .nav-masthead .nav-link__light:focus {
        border-bottom-color: rgba(0, 0, 0, .25);
      }

      .nav-masthead .active__light {
        color: rgba(0, 0, 0);
        border-bottom-color: rgba(0, 0, 0);
      }

      .logo {
        font-size: max(14px, min(30px, 6vw));
        margin: -0.3vw 3vw 0 0;
      }

    }

  }

  .main {
    max-width: 800px;
    padding: 50px;
    margin: -4.5vw auto calc(3vw + 50px);

    img {
      margin: 0 0 30px //calc(3vw + 30px);
    }

    h1 {
      font-size: max(40px, min(70px, 12vw));
    }
  }

  .text-block {
    @media screen and (max-width: 768px) {
      border-radius: 10px;
    }


    @media screen and (min-width: 768px) {
      border-radius: 15px;
    }
  }

  .images {
    .img {
      margin: 10px 20px;
      padding: 10px 10px;
    }

    h1 {
      margin-top: 10vw;
      font-size: max(30px, min(60px, 10vw));
    }

    p,
    h2 {
      margin: calc(1vw + 5px);
    }
  }

  p {
    font-size: max(10px, min(20px, 4vw));
  }

  footer {
    .footer__text__dark {
      color: rgb(108, 117, 125)
    }

    .footer__text__light {
      color: rgb(43, 33, 33)
    }

    .us:hover {
      color: rgb(73, 188, 186);
    }
  }

}