openapi: 3.0.1

info:
  title: Славатидика API
  description: Gamified TODO-list API.
  version: 0.2.0
  contact:
    name: Starovoytov Alexandr
    url: https://t.me/stewkk
  license:
    name: MIT

servers:
  - url: https://ptp.starovoytovai.ru/api/v1

tags:
  - name: Users
  - name: Auth

paths:
  /ping:
    get:
      operationId: ping
      summary: Ping API server
      responses:
        '418':
          description: Success
      security: []
  /users:
    post:
      operationId: createUser
      summary: Create new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
      tags:
        - Users
      responses:
        '201':
          description: Successfully created new user
          headers:
            Location:
              description: New user URI
              schema:
                type: string
                format: url
      security: []
  /tokens:
    post:
      operationId: createToken
      summary: Create auth token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - oneOf:
                  - $ref: '#/components/schemas/Email'
                  - $ref: '#/components/schemas/Nickname'
                - $ref: '#/components/schemas/Password'
      tags:
        - Auth
      responses:
        '201':
          description: New token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
      security: []

components:
  schemas:
    Token:
      type: string
    Email:
      type: string
      format: email
      pattern: '^[^\s@]+@[^\s@]+\.[^\s@]+$'
    Nickname:
      type: string
      minLength: 4
      maxLength: 20
      pattern: '^([a-z\d]+-)*[a-z\d]+$'
    Password:
      type: string
      format: password
      minLength: 8
      maxLength: 100
      pattern: '^[A-Za-z0-9]\w{8,}$'
    NewUser:
      type: object
      properties:
        email:
          $ref: '#/components/schemas/Email'
        nickname:
          $ref: '#/components/schemas/Nickname'
        password:
          $ref: '#/components/schemas/Password'
      required:
        - email
        - nickname
        - password
    User:
      type: object
      properties:
        id:
          type: integer
          example: 4
        email:
          type: string
          example:
            slavadtika@example.com
        nickname:
          type: string
          example:
            stewkk
  securitySchemes:
    UserToken:
      type: apiKey
      in: header
      name: Authorization

security:
  - UserToken: []
